.sidebar {
  position: absolute;
  z-index: 1;
  width: 80%;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar li a {
  padding: 10px;
  display: block;
  border-bottom: 1px solid #eee;
  color: #555;
}

.content {
  transition: transform 0.36s ease;
  display: block;
  position: relative;
  z-index: 10;
  background: white;
  min-height: 100vh;
  box-shadow: rgba(0,0,0,0.3) 0 0 10px;
}
.content.no-animate {
  transition: none;
}
.content.open {
  transform: translate3D(80%, 0, 0);
}