footer {
  text-align: center;
  margin-top: 20px;
  border-top: 1px solid #ccc;
  padding: 20px 10px;
}

footer p {
  margin: 0;
}

footer ul {
  margin: 0;
  padding: 0;
}

footer li {
  display: inline-block;
}

footer li a {
  display: inline-block;
  padding: 10px;
  font-size: 12px;
}